@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.book {
  padding: 10rem 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $dark-battleship-grey;
  &__mobile {
    color: $dark-battleship-grey;
  }
}
