@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.book {
  margin: auto;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 25rem;
  @include desktop {
    min-height: 28rem;
  }
  &__title {
    color: $dark-battleship-grey;
    padding: 1rem 1rem 0.25rem 0;
    display: flex;
    align-items: flex-start;
  }
  &__mobile {
    color: $dark-battleship-grey;
    background-color: $light-battleship-grey;
    border-radius: 5px;
    border: none;
    outline: none;
  }
  &__button {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    &--confirm {
      background-color: $dark-battleship-grey;
      color: $light-battleship-grey;
      outline: none;
      width: 50%;
      border: none;
      border-radius: 1.5625rem;
      padding: 0.5rem;
    }
    &--cancel {
      background-color: transparent;
      border: none;
      color: $dark-battleship-grey;
      width: 50%;
      border-radius: 1.5625rem;
      padding: 0.5rem;
    }
  }
  &__time {
    &--title {
      display: flex;
      align-items: flex-start;
      margin: 1rem 1rem 0.25rem 0;
      color: $dark-battleship-grey;
    }
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: $dark-battleship-grey;

    &--slot {
      display: flex;
      margin: 0.25rem;
      background-color: $light-battleship-grey;
      color: $dark-battleship-grey;
      border-radius: 5px;
      padding: 0.5rem;
    }
  }
}
