@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.aboutPage {
  max-width: 25rem;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  align-items: center;

  &__yogi {
    background-color: $light-battleship-grey;
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
  }
  &__intro {
    margin: 2rem 0;
    padding: 2rem 0;
    border-radius: 5px;
    background-color: $light-battleship-grey;
    padding: 1rem;
    word-wrap: break-word;
    color: $dark-battleship-grey;
  }
  &__connect {
    background-color: $dark-battleship-grey;
    color: $light-battleship-grey;
    outline: none;
    width: 100%;
    border: none;
    border-radius: 1.5625rem;
    padding: 0.5rem;
  }
  &__comments {
    &--box {
      padding: 0.5rem;
    }

    &--title {
      margin: 0.5rem 0;
      color: $dark-battleship-grey;
    }

    &--name {
      display: flex;
      justify-content: end;
      font-style: italic;
      font-weight: 600;
      color: $dark-battleship-grey;
      font-size: 12px;
    }
    &--review {
      color: $dark-battleship-grey;
      font-size: 12px;
    }
  }
  &__review {
    display: flex;
    flex-direction: column;
    &--t-area,
    &--reviewer,
    &--email {
      margin: 0.5rem 0;
      outline: none;
      resize: none;
      background-color: $light-battleship-grey;
      color: $dark-battleship-grey;
      border-radius: 5px;
      padding: 0.5rem;
      &::placeholder {
        color: $dark-battleship-grey;
      }
    }
    &--email,
    &--reviewer {
      padding: 0.5rem;
      max-height: 1.5rem;
    }

    &--button {
      margin: 1rem 0;
      display: flex;
      justify-content: space-between;
      &--submit {
        background-color: $dark-battleship-grey;
        color: $light-battleship-grey;
        outline: none;
        width: 50%;
        border: none;
        border-radius: 1.5625rem;
        padding: 0.5rem;
      }
      &--cancel {
        background-color: transparent;
        border: none;
        color: $dark-battleship-grey;
        width: 50%;
        border-radius: 1.5625rem;
        padding: 0.5rem;
      }
    }
  }
}
