@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.gallery {
  margin: 2rem 0;
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  @include tablet {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.gallery__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  object-fit: cover;
  padding: 1rem;
  @include tablet {
    display: flex;
  }
}
.gallery__container--img {
  border-radius: 10px;
  width: 30%;
  overflow: hidden;
}

// for Brownie points
@include desktop {
  .gallery__container img {
    width: 30%;
    object-fit: cover;
    filter: grayscale(1) blur(1.5px);
    transition: all 500ms;
  }
  .gallery__container img:hover {
    filter: grayscale(0) blur(0);
  }
}
