@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.siteFooter {
  padding: 0 1rem;
  background-color: $dark-battleship-grey;
  color: $light-battleship-grey;
  display: flex;
  flex-direction: column;
  border-radius: 50px 50px 0 0;

  &__title {
    padding: 0.5rem 0;
  }
  &__social {
    display: flex;
    justify-content: space-evenly;
    padding: 0.5rem 0;
    &--icon {
      fill: $light-battleship-grey;
    }
  }
  &__contact {
    padding: 1rem 0;
    color: $light-battleship-grey;

    &--email {
      color: $light-battleship-grey;
      background-color: $dark-battleship-grey;
      border: none;
      outline: none;
    }
  }
  &__other {
    display: flex;
    justify-content: space-between;
    padding-left: 0;
    padding: 1rem 0;
    &--item {
      color: $light-battleship-grey;
      cursor: pointer;
    }
  }
  &__credits {
    display: flex;
    justify-content: space-between;
    &--cr {
      background-color: $dark-battleship-grey;
      color: $light-battleship-grey;
      border: none;
      outline: none;
      cursor: pointer;
    }
  }
}
